@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-color: #F4F7FA;
}


ul {
    list-style: none;
    padding: 0;
}

a {
    color: #303030;
    text-decoration: none;
}


.container {
    box-sizing: border-box;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
  margin: 0;
  padding: 0;
}


h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}


.header_link {
    display: flex;
}


.btn {
    background-color: #273895;  
    color: #FFFFFF;
    border: #273895;
    width: 115px;
    height: 50px;
    border-radius: 15px; 
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;

    margin-top: 50px;
}


.btn:hover {
  background-color: #4e62d2;
}


.header_logo {
    padding-top: 48px;
    padding-right: 62px;
}


.header_text {
    width: 227px;
    height: 40px;
    padding-right: 580px;
    margin-top: 64px;
    font-size: 12px;
    line-height: 20px;
}



.header_number {
    font-size: 16px;
    font-weight: 700;
    margin-right: 36px;
    margin-top: 64px
}


.menu-item {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 48px;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 600;
}



.header-link {
  color: #000000;
}

.header-link:hover {
  color: #273895;
  cursor: pointer;
  transition: 0.3s ease;
}

/*1 секция Начало*/

.start_all {
    margin-top: 120px;
}


.start {
    background: url(../img/start.svg) no-repeat 82% -80%;
    height: 600px;
}


.start_text {
    font-size: 48px;
    width: 733px;
    height: 165px;
}



.start_dohod {
    font-size: 14px;
    width: 547px;
    height: 72px;
    line-height: 150%;
    margin-top: 16px;
}



.free {
    background-color: #273895;  
    color: #FFFFFF;
    border: #273895;
    width: 268px;
    height: 56px;
    border-radius: 15px; 
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 32px;
}


.free:hover {
  background-color: #4e62d2;
}


.block-one {
  font-size: 16px; 
  display: flex;
  line-height: 26px;
  background-color: #ffffff;
  height: 164px;
  width: 712px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 648px;
}


.block1-one {
  font-size: 16px;
  align-items: center;
}

.block1-one-img {
  padding-left: 50px;
  padding-top: 20px;
}


.block1-one-title {
  padding-left: 50px;
  font-weight: 400;
}


/*2 секция Карточки вправо*/

.online_title {
  font-size: 32px;
  margin-left: 240px;
  font-weight: bold;
  width: 400px;
  height: 88px;
  line-height: 44px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.online {
  margin-top: 250px;
  background: url(../img/crugi.svg) no-repeat 79% 0%;
}


.online-text {
  font-size: 14px;
  margin-left: 240px;
  width: 406px;
  height: 81px;
  line-height: 150%;
  color: #404040;
}




.cartam {
  margin-top: 100px;
}

.cartam1 {
  background-color: #FFFFFF;
  height: 156px;
  width: 217px;
  margin-left: 770px;
  margin-top: -415px;
  border-radius: 10px;
}


.cartam2 {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 179px;
  height: 135px;
  margin-left: 25px;
  margin-top: -395px;
}



.cartam3 {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 179px;
  height: 135px;
  margin-top: -240px;
  margin-left: -387px;
}


.cartam4 {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 192px;
  height: 171px;
  margin-top: -240px;
  margin-left: 25px;
}


.carta-title1 {
  font-size: 48px;
  width: 156px;
  height: 54px;
  padding-left: 32px;
  margin-top: 32px;
  background-image: linear-gradient(#4614E8, #BCA7FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}


.carta-title2 {
  font-size: 36px;
  margin-left: 24px;
  margin-top: 20px;
  background-image: linear-gradient(#4614E8, #BCA7FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}


.carta-title3 {
  margin-left: 24px;
  font-size: 36px;
  margin: 24px;
  background-image: linear-gradient(#4614E8, #BCA7FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}



.carta-title4 {
  margin-left: 24px;
  font-size: 16px;
  margin: 24px;
  margin-top: 50px;
  background-image: linear-gradient(#4614E8, #BCA7FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}



.tt4 {
  color: #404040;
  margin-left: 24px;
  font-size: 14px;
  margin-top: -10px;
  width: 128px;
  line-height: 150%;
}

.tt3 {
  color: #404040;
  font-size: 14px;
  padding-left: 24px;
  margin-top: -18px;
  width: 128px;
  line-height: 150%;
}

.ct {
  font-size: 16px;
  margin-left: -7px;
}



.let {
  font-size: 16px;
}


.tt1 {
  color: #404040;
  font-size: 14px;
  margin-left: 37px;
  width: 156px;
  line-height: 150%;
}



.tt2 {
  color: #404040;
  margin-left: 24px;
  width: 131px;
  font-size: 14px;
  line-height: 150%;
}


.logo2 {
  margin-left: 240px;
}



.cartam {
  display: flex;
}

/*Поддержка*/


.support_title {
    text-align: center;
    font-size: 16px;
}


.support_block {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 31px;
}


.support_one_block {
    width: 343px;
    height: 344px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.support_img {
    margin-left: 89px;
    margin-top: 32px;
}


.support_name {
    font-size: 16px;
    margin-left: 32px;
    font-weight: 700;
    margin-top: 16px;
}


.support_text {
    font-size: 14px;
    margin-left: 32px;
    width: 250px;
    height: 102px;
    color: #404040;
    line-height: 150%;
}


.support_two_block {
    width: 343px;
    height: 344px;
    border-radius: 10px;
    background-color: #FFFFFF;
}


.support_three_block {
    width: 343px;
    height: 344px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

/*Преимущества*/

.preim {
    margin-top: 144px;
    background: url(../img/telefon.svg) no-repeat 18% 25%;
}

.block-prem {
  background-color: #FFFFFF;
  width: 187px;
  height: 106px;
  border-radius: 12px;
  text-align: center;
  margin-left: 263px;
}


.preimtext {
    display: flex;
    margin-left: 485px;
    gap: 45px;
    align-items: center;
    color: #404040;
    line-height: 150%;
    margin-top: -68px;
}


.preimtext1 {
  width: 438px;
}

.preimtext2 {
  width: 300px;
} 

.preim-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 48px;
}

.preim_si {
    color: #34449C;
    font-size: 16px;
}


.help-button {
    background-color: #273895;  
    color: #FFFFFF;
    border: #273895;
    width: 148px;
    height: 50px;
    border-radius: 8px; 
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}


.help-button:hover {
  background-color: #4e62d2;
}


.help {
  font-size: 12px;
  padding-top: 15px;
}


.advantages_cards {
  display: flex;
  gap: 19px;
  margin-top: 60px;
  justify-content: center;
}


.advantages_card1 {
  width: 236px;
  height: 342px;
  background-color: #FFFFFF;
  border-radius: 20px;
}


.advantages_card2 {
  width: 236px;
  height: 342px;
  background-color: #FFFFFF;
  border-radius: 20px;
}


.advantages_card3 {
  width: 236px;
  height: 342px;
  background-color: #FFFFFF;
  border-radius: 20px;
}


.advantages_card4 {
  width: 236px;
  height: 342px;
  background-color: #FFFFFF;
  border-radius: 20px;
}


.advantages_card5 {
  width: 236px;
  height: 342px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.advantages-card-content {
  margin-top: 36px;
  margin-left: 32px;
}

.advantage-title {
  color: #404040;
  font-size: 16px;
  width: 172px;
}


.a_text1 {
  font-size: 14px;
  width: 172px;
  height: 144px;
  color: #404040;
  line-height: 150%;
}


.a_text2 {
  font-size: 14px;
  width: 172px;
  height: 144px;
  color: #404040;
  line-height: 150%;
}


.a_text3 {
  font-size: 14px;
  width: 172px;
  height: 144px;
  color: #404040;
  line-height: 150%;
}


.a_text4 {
  font-size: 14px;
  width: 172px;
  height: 144px;
  color: #404040;
  line-height: 150%;
}


.a_text5 {
  font-size: 14px;
  width: 172px;
  height: 144px;
  color: #404040;
  line-height: 150%;
}



.tarif {
  margin-top: 144px;
}

.tarif_title {
  font-size: 32px;
  text-align: center;
}


.tarif_p {
  text-align: center;
  font-size: 14px;
  color: #404040;
  margin-top: 16px;
}

.tarif_comp {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 64px;
  align-items: center;
}

.tarifbtn {
  width: 133px;
  height: 50px;
  border-radius: 15px;
  background-color: #273895;  
  color: #FFFFFF;
  border: #273895;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}


.tarifbtn:hover {
  background-color: #4e62d2;
}


.god {
  font-size: 20px;
  color: #273895;
}


.tarif_carta_one {
  width: 1062px;
  height: 495px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.tarif_all {
  padding-top: 48px;
  text-align: center;
}

.tarif_name {
  color: #2741D0;
  font-size: 16px;
}
.tarif_pp {
  font-size: 32px;
  color: #C9C9C9;
  padding-top: 15px;

}


.tarif_text {
  color: #737373;
  font-size: 14px;
  padding-top: 30px;
}


.tarif_dostup {
  font-size: 16px;
  padding-top: 20px;
}


.tarif_textmini {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.textmini {
  width: 306px;
  padding-top: 20px;
  color: #404040;
}



.tarif_podrob {
  color: #2741D0;
  font-size: 16px;
  padding-top: 28px;
}


.zayavka {
  width: 220px;
  height: 56px;
  border-radius: 15px;
  background-color: #273895;  
  color: #FFFFFF;
  border: #273895;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 30px;
}


.zayavka:hover {
  background-color: #4e62d2;
}


.tarif_a1 {
  padding-top: 48px;
  padding-left: 48px;
  width: 513px;
  height: 647px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.tarif_a2 {
  padding-top: 48px;
  padding-left: 48px;
  width: 513px;
  height: 647px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.tarif_a3 {
  padding-top: 48px;
  padding-left: 48px;
  width: 513px;
  height: 647px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.tarif_a4 {
  padding-top: 48px;
  padding-left: 48px;
  width: 513px;
  height: 647px;
  border-radius: 20px;
  background-color: #FFFFFF;
}


.tarif_carta_two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
  margin-top: 32px;
}


.tarif_text_many_m {
  margin-bottom: 30px;
  width: 390px;
  font-size: 16px;
  color: #404040;
}


.price {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}



.blue {
  margin-top: 144px;
  background-color: #273895;
  height: 398px;
  margin-left: -100px;
  background: url(../img/Frame.svg) no-repeat right #273895;
}


.blue-title {
  color: #ffffff;
  height: 41px;
  width: 398px;
  margin-left: 196px;
  font-size: 32px;
  padding-top: 88px;
}


.blue-text {
  color: #ffffff;
  width: 321px;
  height: 48px;
  margin-left: 196px;
  font-size: 16px;
  line-height: 150%;
} 


.cards {
    width: 1062px;
    margin-left: auto;
    margin-right: auto;
}

.card-1 {
    width: 1062px;
    background-color: white;
    border-radius: 15px;
    margin-top: 76px;
    padding: 10px;
}


.text1 {
  width: 515px;
  color: #404040;
  line-height: 200%;
}


.text2 {
  width: 515px;
  color: #404040;
  line-height: 200%;
}


.text3 {
  width: 515px;
  color: #404040;
  line-height: 200%;
}


.text4 {
  width: 515px;
  color: #404040;
  line-height: 200%;
}


.cardi1 {
  height: 229px;
  display: flex;
  align-items: center;
} 


.cardi2 {
  height: 249px;
  display: flex;
  align-items: center;
}


.cardi3 {
  height: 229px;
  display: flex;
  align-items: center;
}


.cardi4 {
  height: 299px;
  display: flex;
  align-items: center;
}


.partner {
  background-color: #273895;
  border: #273895;
  width: 250px;
  height: 56px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 36px;
  margin-left: 420px;
  cursor: pointer;
  transition: 0.3s ease;
}


.partner:hover {
  background-color: #4e62d2;
}


.section-easy-start {
    display: flex;
    height: 502px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}


.section-easy-start {
  background: url(../img/strelki.svg) no-repeat center;
}

.block-1 {
    display: inline-block;
    width: 296px;
    height: 100%;
}

.mini-card {
    background-color: white;
    height: 243px;
    border-radius: 15px;
    margin-bottom: 16px;
}

.content-in-card-1 {
    padding: 25px;
}

.number-1 {
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
}

.block-2 {
    gap: 16px;
    display: flex;
    height: 502px;
    margin-left: 16px;
}

.card-2{
    display: inline-block;
    height: 502px;
    width: 312px;
    background-color: white;
    border-radius: 15px;
}

.card-2>.content-in-card-1>.img>img {
    width: 231px;
    height: 161px;
}

.img {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.card-3 {
    width: 312px;
    height: 366px;
    background-color: white;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: blueviolet;
}

.card-3>.content-in-card-1>img {
    width: 55px;
    height: 55px;
}

.card-3-button {
    text-align: center;
}

.zaraa {
  background-color: #273895;
  border: #273895;
  width: 251px;
  height: 56px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 36px;
  cursor: pointer;
  transition: 0.3s ease;
}


.zaraa:hover {
  background-color: #4e62d2;
}


.easy {
  margin-top: 144px;
  text-align: center;
  color: #303030;
}


.blue-two {
  height: 287px;
  background-color: #273895;
  margin-left: -100px;
  margin-top: 144px;
}

.blue_flex {
  display: flex;
  gap: 106px;
}

.blue_text {
  text-align: center;
}


.blue-two-title {
  width: 406px;
  padding-top: 96px;
  padding-left: 80px;
  color: #FFFFFF;
  
}

.blue_text_all {
  display: flex;
  padding-top: 98px;
  gap: 20px;
  line-height: 150%;
}


.grad1 {
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(#4614E8, #BCA7FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.grad2 {
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(#4614E8, #BCA7FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.grad3 {
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(#4614E8, #BCA7FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.grad4 {
  font-size: 32px;
  font-weight: 700;
  background-image: linear-gradient(#4614E8, #BCA7FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}



.end {
  margin-top: 144px;
  display: flex;
}


.end_flex {
  display: flex;
  justify-content: center;
  gap: 96px;
}

.end-text {
  line-height: 150%;
  color: #404040;
}


.overlay {
  position: absolute;
  border-radius: 15px;
  width: 360px;
  height: 155px;
  background-color: white;
  margin-left: 200px;
  margin-top: -90px;
  display: flex;
}


.end-nat {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.zar {
  background-color: #273895;
  border: #273895;
  width: 251px;
  height: 56px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 36px;
  cursor: pointer;
  transition: 0.3s ease;
}


.zar:hover {
  background-color: #4e62d2;
}

.citata {
  padding-top: 16px;
  font-style: italic;
  width: 296px;
}

.kavuchka {
  padding-top: 32px;
}

.uprav_text {
  width: 469px;
}

.detali {
  width: 496px;
}

.ccc {
  margin-left: 32px;
}

.op_nav {
  list-style: disc;
  margin-left: 18px;
}

footer {
  margin-top: 144px;
}



.footer_all {
  display: flex;
  align-items: center;
}

.foot_title {
  margin-left: 48px;
  width: 227px;
  height: 40px;
  font-size: 12px;
  color: #303030;
  line-height: 20px;
}

.icons {
  margin-left: 650px;
}

.line {
  margin-left: -100px;
  padding-bottom: 32px;
}

.footer_two {
  margin-top: 20px;
  height: 40px;
  background-color: #E8EDF3;
  margin-left: -90px;
  padding-top: 20px;
}

.eeend-text {
  display: flex;
  color: #7A7A7A;
  font-size: 12px;
  margin-left: 80px;
}

.eeend2 {
  margin-left: 600px;
}

.eeend3 {
  margin-left: 25px;
}